extends logged-in-template
block append content
  div.container
    div.row
      div.col-md-offset-2.col-md-8
        h3.text-center Card Registration Logs
        table.table.table-striped.table-bordered.table-hover
          thead
            tr
              th User
              th Card Description
              th Registration Date
              th Registrar
          for row in data
            tr
              th= row[0]
              th= row[1]
              th= row[2]
              th= row[3]
