
<form method="post" action="/web/user/log-in">
  <div class="form-group">
    <input type="text" class="form-control" name="username" id="username" placeholder="Username">
  </div>
  <div class="form-group">
    <input type="password" class="form-control" name="password" id="password" placeholder="Password">
  </div>
  <div class="form-group float-xs-right">
    <input class="btn btn-primary" type="submit" value="Submit">
  </div>
</form>
