extends template
block append navbar
  ul.nav.navbar-nav.navbar-right
    li
      a#login-status(href='/logout') Log Out
    li
      a#open-door(href='#') Open Door
    li.dropdown
      a.dropdown-toggle(href='#' data-toggle='dropdown' role='button' aria-expanded='false') Options
        span.caret
        ul.dropdown-menu(role='menu')
          li
            a(href='/swipe-logs') View Swipe Logs
          li.divider
          li
            a(href='/card-reg-logs') View Card Reg Logs
          li.divider
          li
            a(href='/reg-user') Register User
          li.divider
          li
            a(href='/dereg-user') Deregister User

  block append inline-js
    script(type='text/javascript')
      :babel
        console.log('https://' + window.location.host + '/open-door');
        $("#open-door").click(() => {
          const url = 'https://' + window.location.host + '/open-door';
          $.get(url, (resp) => { console.log(resp); });
        });
        const door_url = 'https://' + window.location.host + '/door';
        $.get(door_url, (data) => {
          $('.navbar-state').text(data);
        });
