extends logged-out-template
block append content
  div.container
    div.row
      div.col-md-offset-4.col-md-4
        div.form-login
          form(action='/login' method='post')
            p
              h2.form-signin-heading=msg
            p
              label.sr-only username
              input.form-control.input-lg(type='text' name='username' placeholder='username')
            p
              label.sr-only password
              input.form-control.input-lg(type='password' name='password' placeholder='password')
            p
              button.btn.btn-lg.btn-primary(type='submit') Submit
