html
  head
    title=title
    link(href='/css/bootstrap.css', rel='stylesheet')
  body
    nav.navbar.navbar-default.navbar-inverse.navbar-static-top
      div.container-fluid
        a.navbar-brand CCOWMU Door Admin Panel
        ul.nav.navbar-nav.navbar-right
          li
            a#login-status(href='/logout') Log Out
          li.dropdown
            a.dropdown-toggle(href='#' data-toggle='dropdown' role='button' aria-expanded='false') Options
              span.caret
              ul.dropdown-menu(role='menu')
                li
                  a(href='/logs') View Logs
                li
                  a(href='/reg-user') Register User
                li
                  a(href='/dereg-user') Deregister User
    div.container
      div.row
        div.col-md-offset-4.col-md-4
          table.table.table-striped.table-bordered.table-hover
            thead
              tr
                th User
                th Door Open Timestamp
              tr
                th sphinx
                th now

    script(type='text/javascript' src='/js/jquery-2.1.3.min.js')
    script(type='text/javascript' src='/js/bootstrap.js')
