extends logged-in-template
block append content
  div.container
    div.row
      div.col-md-offset-4.col-md-4
        div.form-login
          form(action='/reg-user' method='post')
            p
              h2.form-heading Register a user
            p
              h3 Warning!
            p Any single card swiped within two minutes after hitting the register button will be registered.
            p Please only register users if you are on location, and check the card registration logs once you are done.
            p
              label.sr-only username
              input.form-control.input-lg(type='text' name='username' placeholder='username')
            p
              label.sr-only card description
              input.form-control.input-lg(type='text' name='card_desc' placeholder='card description')
            p
              label.sr-only registrar
              input.form-control.input-lg(type='text' name='registrar' placeholder='registrar (enter your name here)')
            p
              button.btn.btn-lg.btn-primary(type='submit') Submit
