extends logged-in-template
block append content
  div.container
    div.row
      div.col-md-offset-3.col-md-6
        div.form-login
          form(action='/swipe-logs' method='post')
            p
              h4.form-heading How many days of swipe logs to retrieve?
            p
              label.sr-only Days of Logs
              input.form-control.input-md(type='text' name='days' placeholder='Days of Logs')
            p
              button.btn.btn-md.btn-primary(type='submit') Submit
        table.table.table-striped.table-bordered.table-hover
          thead
            tr
              th User
              th Card Swipe Timestamp
              th Access Granted
          for row in data
            tr
              th= row[0]
              th= row[1]
              if row[2] == "true"
                th.success= row[2]
              else
                th.danger= row[2]
