html
  head
    title=title
    link(href='/css/bootstrap.css', rel='stylesheet')
    link(href='/css/door.css', rel='stylesheet')
  body
    nav.navbar.navbar-default.navbar-inverse.navbar-static-top
      div.container-fluid
        a.navbar-brand CCOWMU Door Admin Panel
        a.navbar-brand.navbar-center.navbar-state
        block navbar
    block content

    script(type='text/javascript' src='/js/jquery-2.1.3.min.js')
    script(type='text/javascript' src='/js/bootstrap.js')
    script(type='text/javascript')
      :coffeescript
        $.get('http://' + window.location.host + '/door', (data) ->
          $('.navbar-state').text(data);
        )