<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Door Admin Panel</title>
    <link href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.0.0-alpha.5/css/bootstrap-flex.min.css" rel="stylesheet">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/tether/1.3.7/css/tether.min.css" rel="stylesheet">
    <link href="css/door.css" rel="stylesheet">
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/tether/1.3.7/js/tether.min.js"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.0.0-alpha.5/js/bootstrap.min.js"></script>
  </head>
  <body>
    <nav class="navbar navbar-light bg-faded">
      <div class="container-fluid">
        <a class="navbar-brand">CCOWMU Door Admin Panel</a>
        <div class="float-xs-right">
          <a class="btn btn-outline-primary" role="button" href="/web/user/log-in">Log In</a>
        </div>
      </div>
    </nav>

    <div class="container">
      <div class="row">
        <div class="col-sm-4">
        </div>
        <div class="col-sm-4">
          {{{body}}}
        </div>
        <div class="col-sm-4">
        </div>
      </div>
    </div>
  </body>
</html>

